@import url(https://fonts.googleapis.com/css?family=Merriweather:light,regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:regular);

body {
  font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3 {
  color: #006c66;
  font-family: 'Merriweather', serif;
}
h1 {
  font-weight: light;
  letter-spacing: -0.5px;
}
h2 {
  font-weight: light;
  letter-spacing: 0px;
}
h3 {
  font-weight: regular;
  letter-spacing: 0px;
}

strong, em {
  color: #459b94;
}

.inverse {
  background: #006c66;
  color: #f3f3f3;
}
.inverse h1, .inverse h2, .inverse h3{
  color: #f3f3f3;
}
