{% extends "basic-slide.html" %}

{% set title = "Sharing is caring" %}

{% block content %}
{% raw %}

# Collaboration

* Platforms like GitHub and Gitlab provide functionality for **collarboration**
 between different users

* The common workflow is build around so called **pull requests** (sometimes
  called merge requests)

* The basic workflow consists of

  1. Creating a **fork** which is a copy of the reop server-side
  2. Commiting and pushing your changes to your own fork
  3. Sending a pull request to the maintainer of the original repo, asking them
     to incorporate your changes

{% endraw %}
{% endblock content %}
